.resume-icon {
	height: 4rem;
	width: 4rem;
	max-height: 4rem;
	max-width: 4rem;
}
.resume-content {
	display: flex;
	min-width: 0px;
	a,
	form {
		margin-left: auto;
	}
}
@media (max-width: 600px) {
	.resume-content {
		flex-direction: column;
		a,
		form {
			margin: 0px;
		}
	}
}
