.footer-icon {
	height: 1.5rem;
	width: 1.5rem;
	max-height: 1.5rem;
	max-width: 1.5rem;
}
.hover-cursor {
	&:hover {
		cursor: pointer;
	}
}
.multiline-truncate {
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
}
.min-width-0 {
	min-width: 0;
}
